@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-type(
  $backround, 
  $border-color,
  $color,
  $hover-backround: lighten($backround, 7.5%), 
  $hover-border: lighten($border-color, 10%),
  $hover-color: $color
  ) {
    color: $color;
    background: $backround;
    border-color: $border-color;
    &:hover {
      color: $hover-color;
      background: $hover-backround;
      border-color: $hover-border
    }
    &:focus, &.focus {
      color: $hover-color;
      background: $hover-backround;
      border-color: $hover-border
    }
    &:disabled,
    &[disabled] {
      color: $color;
      border-color: $border-color;
      background: $backround;
    }
}