.progress-bar {
  width: 100%;
  box-sizing: border-box;
  .progress-bar-outer {
    background-color: $progress-bg;
    border-radius: $progress-border-radius;
    overflow: hidden;
    position: relative;
    .progress-bar-inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: $progress-border-radius;
      background: $progress-bar-color;
      transition: $progress-bar-transition;
      line-height: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .inner-text {
        color: $progress-bar-color;
        font-size: $progress-font-size;
        margin: 0 5px;
      }
    }
    @each $key, $val in $theme-colors {
      .color-#{$key} {
        background-color: $val;
      }
    }
  }
}
